mat-form-field,
input {
  width: 100%;
  margin-bottom: 8px;
}

mat-card {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.google-login-btn {
  background-image: url("src/assets/google-logo.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 10%;
  padding-left: 3%;
}
