<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Blogify</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a
        mat-button
        routerLink="/add"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true"
        >Agregar</a
      >
      <a
        mat-button
        routerLink="/"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === true"
        >Logout</a
      >
      <a
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === false"
        >Login</a
      >
      <a
        mat-button
        routerLink="/signup"
        routerLinkActive="mat-accent"
        *ngIf="isLogin === false"
        >Registro</a
      >
    </li>
  </ul>
</mat-toolbar>
